<div>
  <form [formGroup]="form" (ngSubmit)="ngSubmit()">
    <div>
      <label for="username">Username</label>
      <input type="text" formControlName="username" id="username" />
    </div>

    <div>
      <label for="password">Password</label>
      <input type="text" formControlName="password" id="password" />
    </div>

    <input type="submit" />
  </form>

  <div>
    <ul>
      <li *ngFor="let allUser of allUsers">
        Username:{{ allUser.username }} - Password:{{ allUser.password }}
      </li>
    </ul>
  </div>
</div>
